<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="complaintMapper">
	<!-- 민원 작성 -->
	<insert id="complaintWrite" parameterType="Complaint">
		INSERT INTO complaint
		VALUES (complaintseq.nextval, #{id}, #{complaintTitle},
		#{complaintContent}, #{complaintOrganization}, #{complaintOrganizationDetail}, sysdate, 0, 0)
	</insert>

	

</mapper>